/**/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/**/
:root{
/**/
}
*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/**/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/**/
body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-attachment: fixed;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}
/**/
.page-main{
    margin: 0 5%;
    margin-top: 15vh;
}
/**/
.accordion-card{
    /*--flex-center*/
    background-color: #ffffff;
    /*--*/
    position: relative;
    /*--*/
    max-width: 920px; 
    width: 920px;
    min-width: 740px;
    /*--*/
    height: 510px;
    /*--*/
    margin: auto;
    /*--*/
    border-radius: 20px;
}
    /**/
    .accordion-card__picture{
        /*--*/
        position: relative;
        /*--*/
        flex-basis: 50%;
        height: 100%;
        /*--*/
        background-image: url("/images/bg-pattern-desktop.svg"), url("/images/illustration-woman-online-desktop.svg");
        background-size: 200%, 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: 118% 70%, -80px center;
    }
    .accordion-card__image-desktop{
        display: none;
        visibility: hidden;
    }
    .accordion-card__image-box{
        /*--*/
        position: absolute;
        /*--*/
        width: 40%;
        /*--*/
        top: 42%;
        right: 79%;
    }
    /**/
    .accordion-card__info{
        /*--flex-center-column*/
        align-items: flex-start;
        /*--*/
        flex-basis: 50%;
        height: 100%;     
        /*--*/
        border-radius: 0 20px 20px 0;   
        /*--*/
        padding-top: 8%;
    }
    /**/
    .accordion-card__tittle{
        /*--*/
        display: inline-block;

        width: 100%;
        flex-basis: 15%;
        /*--*/
        font-weight: 700;
        font-size: 30px;
    }
        /****/
        .list-questions{
            /*--*/
            position: relative;
            /*--*/
            width: 85%;
            flex-basis: 85%;
            /*flex-center-column*/
            justify-content: flex-start;
            /*--*/
            list-style: none;
        }
        .list-questions__item{
            /*flex-center*/
            flex-wrap: wrap;
            /*--*/
            width: 100%;
            flex-basis: 10%;
        }
        /**/
        .list-questions__question{
            position: relative;
            /*--*/
            align-self: flex-start;
            /*--flex-center*/
            width: 100%;
            padding: 4.2% 0;
            padding-right: 4%;
        }
        .list-questions__tittle{
            display: inline-block;
            color: hsl(237, 12%, 33%);
            font-size: 14px;
            font-weight: 400;
            flex-basis: 97%;
            padding-right: 10%;
        }
        .list-questions__tittle:hover{
            color: hsl(14, 88%, 65%);
        }
        .list-questions__icon{
            display: inline-block;
            flex-basis: 3%;
            transition-duration: 0.35s;
        }
        .list-questions__icon--rotate{
            transform: rotate(180deg);
        }
        .list-questions__container-text{
            color: hsl(240, 6%, 50%);
            width: 100%;
            max-height: 0px;
            overflow: hidden;
            transition-duration: 0.35s;
        }
        /**/
        .list-questions__container-text--show{
            padding-bottom: 3%;
            padding-right: 5%;
            max-height: 100px;
        }
        .list-questions__text{
            width: 100%;
            text-align: left;
        }
        .list-questions__split{
            display: block;
            width: 100%;
            align-self: flex-end;
            border: none;
            border-bottom: 1px solid hsl(240, 5%, 91%);
        }
/**/
@media screen and (max-width: 1000px) {
    .accordion-card__picture{
        /*--*/
        flex-basis: 60%;
    }
    /****/
    .accordion-card__info{
        /*--*/
        flex-basis: 40%;
    }
    /****/
        .list-questions__tittle{
            flex-basis: 96%;
        }
        .list-questions__icon{
            flex-basis: 4%;
        }
}
/**/
@media screen and (max-width: 400px) {
/**/
.page-main{
    margin: 0;
    margin-top: 20vh;
    margin-bottom: 5vh;
}
/****/
.accordion-card{
    /*--flex-center*/
    flex-direction: column;
    /*--*/
    max-width: none; 
    width: 90%;
    min-width: 90%;
    /*--*/
    height: 520px;
}
    /****/
    .accordion-card__picture{
        /*--*/
        width: 100%;
        flex-basis: 22%;
        /*--*/
        background-image: url("/images/bg-pattern-mobile.svg");
        background-size: 80%;
        background-position: center top;
    }
    .accordion-card__image-desktop{
        /*--*/
        position: absolute;
        /*--*/
        display: inline-block;
        visibility: visible;
        /*--*/
        width: 90%;
        /**/
        top: -106%;
    }
    .accordion-card__image-box{
        /*--*/
        display: none;
        visibility: hidden;
    }
    /****/
    .accordion-card__info{
        /*--flex-center-column*/
        align-items: center;
        /*--*/
        justify-content: flex-start;
        /*--*/
        width: 100%;
        flex-basis: 78%;
        /*--*/
        border-radius: 0 0 20px 20px;
    }
    .accordion-card__tittle{
        text-align: center;
    }
    /****/
        .list-questions__question{
            /*--flex-center*/
            padding: 5% 0;
            padding-right: 0;
        }
        .list-questions__tittle{
            font-size: 13px;
            flex-basis: 97%;
        }
        .list-questions__icon{
            flex-basis: 3%;
        }
}