/*CSS - Text font*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/*CSS - Variables*/
:root{

    --width-size: 920px;
    --width-size-min: calc(var(--width-size) * 0.7173);
    --height-size: calc(var(--width-size) * 0.554);

    --gradient-first-color: hsl(273, 75%, 66%);
    --gradient-second-color: hsl(240, 73%, 65%);

    --tittle-color: hsl(238, 29%, 16%);
    --tittle-hover-color: hsl(14, 88%, 65%);

    --text-color:hsl(240, 6%, 50%);

    --divider-color:hsl(240, 5%, 91%);
}
/*CSS - Normalize*/
*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*CSS - Reusable code*/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*CSS - Modifying the page viewport*/
body{
    background: linear-gradient(var(--gradient-first-color), var(--gradient-second-color));
    background-attachment: fixed;
    /*--*/
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}
/*CSS - main content*/
.page-main{
    margin: 0 5%;
    margin-top: 15vh;
}
/**CSS - Container component**/
.accordion-card{
    /*--Reusable class - flex-center*/
    background-color: #ffffff;
    /*--*/
    position: relative;
    /*--*/
    max-width: var(--width-size); 
    width: var(--width-size);
    min-width: var(--width-size-min);
    /*--*/
    height: var(--height-size);
    /*--*/
    margin: auto;
    /*--*/
    border-radius: 20px;
}
    /**CSS - first element**/
    .accordion-card__picture{
        position: relative;
        /*--*/
        flex-basis: 50%;
        height: 100%;
        /*--*/
        background-image: url("../images/illustration-woman-online-desktop.svg"),url("../images/bg-pattern-desktop.svg");
        background-size: 100%,200%;
        background-repeat: no-repeat, no-repeat;
        background-position: -80px center, 118% 70%;
    }
    .accordion-card__image-desktop{
        display: none;
        visibility: hidden;
    }
    .accordion-card__image-box{
        position: absolute;
        /*--*/
        width: 40%;
        /*--*/
        top: 42%;
        right: 79%;
    }
    /**CSS - second element**/
    .accordion-card__info{
        flex-basis: 50%;
        height: 100%;     
        /*--*/
        /*--Reusable class - flex-center-column*/
        align-items: flex-start;
        /*--*/
        border-radius: 0 20px 20px 0;   
        /*--*/
        padding-top: 8%;
    }
    .accordion-card__tittle{
        display: inline-block;
        /*--*/
        width: 100%;
        flex-basis: 15%;
        /*--*/
        font-weight: 700;
        font-size: 30px;
    }
        /**CSS - independent block**/
        .list-questions{
            position: relative;
            /*--*/
            width: 85%;
            flex-basis: 85%;
            /*--Reusable class - flex-center-column*/
            justify-content: flex-start;
            /*--*/
            list-style: none;
        }
        .list-questions__item{
            /*--Reusable class - flex-center*/
            flex-wrap: wrap;
            /*--*/
            width: 100%;
            flex-basis: 10%;
        }
        /**/
        .list-questions__question{
            position: relative;
            /*--*/
            align-self: flex-start;
            /*--Reusable class - flex-center*/
            width: 100%;
            /*--*/
            padding: 4.2% 0;
            padding-right: 4%;
        }
        .list-questions__tittle{
            display: inline-block;
            /*--*/
            flex-basis: 97%;
            /*--*/
            color: var(--tittle-color);
            font-size: 14px;
            font-weight: 400;
            /*--*/
            padding-right: 10%;
        }
        .list-questions__tittle:hover{
            color: var(--tittle-hover-color);
        }
        .list-questions__tittle--click-down{
            font-weight: 700;
        }
        .list-questions__icon{
            flex-basis: 3%;
            /*--*/
            display: inline-block;
            /*--*/
            transition-duration: 0.35s;
        }
        .list-questions__icon--rotate{
            transform: rotate(180deg);
        }
        .list-questions__container-text{
            color: var(--text-color);
            /*--*/
            width: 100%;
            max-height: 0px;
            overflow: hidden;
            /*--*/
            transition-duration: 0.35s;
        }
        /**/
        .list-questions__container-text--show{
            padding-bottom: 3%;
            padding-right: 5%;
            /*--*/
            max-height: 100px;
        }
        .list-questions__text{
            width: 100%;
            /*--*/
            text-align: left;
        }
        .list-questions__split{
            display: block;
            /*--*/
            align-self: flex-end;
            /*--*/
            width: 100%;
            /*--*/
            border: none;
            border-bottom: 1px solid var(--divider-color);
        }

/*CSS - Changes for the adaptation responsive*/
@media screen and (max-width: 1000px) {
    .accordion-card__picture{
        /*--*/
        flex-basis: 60%;
    }
    /****/
    .accordion-card__info{
        /*--Reusable class - flex-center-column*/
        flex-basis: 40%;
    }
    /****/
        .list-questions__tittle{
            flex-basis: 96%;
        }
        .list-questions__icon{
            flex-basis: 4%;
        }
}
/*CSS - Changes for the adaptation responsive*/
@media screen and (max-width: 400px) {
/**/
.page-main{
    margin: 0;
    margin-top: 20vh;
    margin-bottom: 5vh;
}
/*CSS - Changes for the adaptation of the mobile*/
.accordion-card{
    /*--Reusable class - flex-center*/
    flex-direction: column;
    /*--*/
    max-width: none; 
    width: 90%;
    min-width: 90%;
    /*--*/
    height: 520px;
}
    /****/
    .accordion-card__picture{
        /*--*/
        width: 100%;
        flex-basis: 22%;
        /*--*/
        background-image: url("../images/bg-pattern-mobile.svg");
        background-size: 80%;
        background-position: center top;
    }
    .accordion-card__image-desktop{
        /*--*/
        position: absolute;
        /*--*/
        display: inline-block;
        visibility: visible;
        /*--*/
        width: 90%;
        /**/
        top: -106%;
    }
    .accordion-card__image-box{
        /*--*/
        display: none;
        visibility: hidden;
    }
    /****/
    .accordion-card__info{
        /*--Reusable class - flex-center-column*/
        align-items: center;
        /*--*/
        justify-content: flex-start;
        /*--*/
        width: 100%;
        flex-basis: 78%;
        /*--*/
        border-radius: 0 0 20px 20px;
    }
    .accordion-card__tittle{
        text-align: center;
    }
    /****/
        .list-questions__question{
            /*--Reusable class - flex-center*/
            padding: 5% 0;
            padding-right: 0;
        }
        .list-questions__tittle{
            font-size: 13px;
            flex-basis: 97%;
        }
        .list-questions__icon{
            flex-basis: 3%;
        }
}