/**/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
/**/
:root{
/**/
}
*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/**/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/**/
body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    width: 100vw;
    height: 100vh;
    padding: 16vh;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}
/**/
.accordion-card{
    /*flex-center*/
    position: relative;
    background-color: #ffffff; /*La imagen cambia de tamaño en relacion a el tamaño del 
                                    componente(100%) y no, a la seccion de la imagen (50%)*/
    max-width: 920px;
    min-width: 680px;
    height: 510px;
    margin: auto;
    border-radius: 20px;

    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: left -490% top 80%;
}
    /**/
    .accordion-card__picture{
        position: relative;
        flex-basis: 50%;
        height: 100%;
        
        flex-grow: 1;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .accordion-card__image-container{
        position: relative;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        top: 1%;
    }
    .accordion-card__image{
        position: relative;
        right: 18%;
        width: 100%;
    }
    .accordion-card__image-box{
        position: absolute;
        width: 36%;
        top: 44%;
        right: 81.4%;
    }
    /**/
    .accordion-card__info{
        align-items: flex-start;
        
        flex-basis: 50%;
        flex-shrink: 2;
        flex-grow: 0;
        
        height: 100%;
        /*flex-center-column*/
        padding: 10% 0;
    }
    /**/
    .accordion-card__tittle{
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 6%;
        align-self: flex-start;
    }
        /**/
        .list-questions{
            /*flex-center-column*/
            align-items: flex-start;
            list-style: none;
            width: 80%;
            height: 100%;
        }
        .list-questions__item{
            width: 100%;
            flex-shrink: 0 0 auto;
            flex-basis: 20%;
        }
        .list-questions__item:nth-child(1){
            flex-shrink: 0 0 auto;
            flex-basis: 40%;
        }
        /**/
        .tittle-question{
            /*flex-center*/
            width: 100%;
            justify-content: flex-start;
        }
        .tittle-question__tittle{
            font-size: 14px;
            font-weight: 400;
            flex-basis: 94%;
        }
        .tittle-question__picture{
            
        }
        .list-questions__text{
            margin-top: 5%;
            
            transition-delay: 0.4s;
            transition-duration: 0.5s;
        }
        .list-questions__separator{
            color:hsl(240, 5%, 91%);
            margin-top: 6%;
            margin-bottom: 6%;
        }

.list-questions__item:hover .list-questions__text{
    transition-duration: 0.5s;
    display: flex;
}
.list-questions__item:hover .tittle-question__picture{
    transform: rotate(180deg);
}


@media (max-width: 750px) {
    .accordion-card{
    }
}

